$color: red;
div{
    ul{
        font-size: 14px;
        color: $color;
    }

    ol{
        font-size: 18px;
        /*now chan change this by changing $color variable*/
        color: $color;
    }
}