{% extends "network/layout.html" %}

{% block body %}
    {% for post in posts%}
    <div class="border border-primary"></div>
        <div class="row">
            <div class="col-6">
                <div class="nameHeading">{{post.author}}</div> 
                <div class="date">{{post.date}}</div>
                <i class="far fa-heart" id="likeButton"> {{post.likes}}</i>
                <i class="fas fa-heart" id="likedButton">  {{post.likes}}</i>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                {{post.body}}
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}