{% extends "network/layout.html" %}

{% block body %}
Following: {{following}}
<div class=" container d-lg-flex p-2 justify-content-flex-start">
    <div class="d-flex flex-row"> 
        <h1 id="profile_user" value="fred">{{profile_user}}</h1>
        {% if not ownPage%}
            {% if following %}
                <button class="btn btn-dark" type="button" id="followbtn" value="Unfollow">Unfollow</button>
            {% else %}
                <button class="btn btn-dark" type="button" id="followbtn" value="Follow">Follow</button>
            {% endif %}
        {% endif %}
    </div>
</div>

{% for post in posts%}
    <div class=" container border border-primary d-lg-flex p-2">
        <div class="d-flex flex-column">
            <div class="d-flex flex-row">
                <div class=" p-2 nameHeading"><a href="{% url 'profile' post.author%}">{{post.author}}</a></div>
            </div>
            <div class="d-flex flex-row"> 
                <div class="p-2 date">{{post.date}}</div>
            </div>
            <div class="d-flex flex-row">
                <i class="far fa-heart" id="likeButton"> {{post.likes}}</i>
                <i class="fas fa-heart" id="likedButton">  {{post.likes}}</i>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center">
            <div class="d-flex flex-row justify-content-center">
                <div class="p-2 d-flex">
                    {{post.body}}
                </div>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center"></div>
    </div>
    {% endfor %}
{% endblock %}